/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

/* ----HEADER, TOP AND BOTTOM IMG---- */

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-image: url('../../assets/images/Values-About.png');
  background-size: cover;
  padding: 12px 30px;
  font-family: 'Prompt';
  font-weight: 300;
  font-size: 24px;
  margin: 0px;}

.nav-element{ margin: auto;}

.rainydays-logo img {width: 200px;}

.rainydays-logo {display: flex;}

.navigation {
  display: flex;
  background-image: url('../../assets/images/Values-About.png');}

.navigation li a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;}

.navigation a:hover {color: #E89A39;}

.navigation li a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;}

.navigation li a:hover:after {width: 100%;}

.open-list , .close-list{
  position: absolute;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
  padding: 15px;}

.open-list {
  top: 20px;
  right: 20px;
  height: 50px;
  border: 0px; }

.close-list {
  top: 20px;
  right: 20px;
  height: 50px;
  border: 0px;}

.closeimg {
  width:20px;
  height:20px;}

.bigimg {
  width: 200px;
  height: 108px;
  padding: 10px 40px;}

@media screen and (min-width: 768px){
  .list {display: flex;}
  .open-list {display: block;}}

@media screen and (max-width: 768px){
  .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /*position: fixed;*/
    top: 0;
    right: 0%;
    z-index: 100;
    visibility: visible;}

  .close-list {display: none;
  background-color: #000000;}
  .open-list {display: block;
  background-color: #000000;}

  .list{
  display: none;
  height: 100%;}

  .navigation ul {flex-direction: column;}
  .navigation li {margin-top: 40px;}
  .navigation li a {padding: 10px;}}

.top-img {
  background-image: url('../../assets/images/Top-image.png');
  background-position: center;
  background-size: cover;
  height: 390px;
  margin-top: 100px;}

@media screen and (max-width:768px){
  .top-img {height: 250px;}}

.bottom-values {
  background-image: url('../../assets/images/Bottom-img.png');
  background-position: center;
  background-size: cover;
  height: 390px;
  margin-bottom: 100px;
  color: #FFFFFF;}

 .bottom-values h2 {
  text-align: center;
  font-family: 'Prompt';
  font-weight: 800;
  font-size: 36px;
  padding-top: 80px;}

 .bottom-values h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;}

 @media screen and (max-width: 768px){
  .bottom-values {
    height: 250px;
    padding: 20px;} 

  .bottom-values h2 {
    font-size: 20px;
    padding-top: 40px;}

  .bottom-values h3 {
    font-size: 15px;
    margin-top: 30px;}}

/* ----PRODUCT INDEX---- */

.outside-container {
  width: 100%;
  display: flex;
  justify-content: center;}

.product {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 250px 0;}

.product-article{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  font-family: 'Prompt';
  font-size: 20px;
  font-weight: 300;}

.men,
.women{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0,5rem;}

.men img,
.women img {
  width: 100%;
  height: auto;}

.product-info {padding: 0 1rem;}

.discover{
 color: #E89A39;
 text-align: center;
 font-family: 'Prompt';
 font-weight: 300;
 font-size: 48px;}

@media screen and (max-width: 768px) {
.product {
margin-top: 100px;
margin-bottom: 150px;
flex-direction: column;}

.product-article {
  width: 100%;
  height: 100%;
  font-size: 12px;}

.discover {font-size: 32px;}

.men, .women {
  background-position: center center;
  background-size: cover;}}

 /* ----FOOTER---- */
 
.footer {
  background-color: #000000;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 1rem 1rem 3rem 1rem;
  padding-top: 30px;}

.footer-heading {
  display: grid;
  text-align: center;
  color: #FFFFFF;}

.footer-heading a {
color: #FFFFFF;
text-decoration: none;
padding-bottom: 10px;
font-family: 'Prompt';
font-weight: 300;
font-size: 20px;}

a:hover {color: #E89A39;}

 .footer-heading h2 {
  padding-bottom: 20px;
  font-family: 'Prompt';
  font-weight: 800;
  font-size: 30px;
  color: #E89A39;}

    .footer-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Prompt';
      font-weight: 300;
      font-size: 20px;}

.contact h2 {padding-bottom: 0px;}

.social {display: table-column;}

.footer-logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;}

.information {justify-content: center;}

@media screen and (max-width: 768px){
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);}

  .footer-heading {margin-bottom: 20px;}

  .footer-heading h2 {font-size: 15px;}

  .footer-item {font-size: 10px;}

  .footer-logo {
    justify-content: center;
    width: 80%;}}

/*MEN'S JACKETS*/

.small-menu {
padding-left: 7%;
padding-top: 70px;}

.small-menu a {
  text-decoration: none;
  color: #000000;
  font-family: 'Prompt';
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;}

a:hover {color: #E89A39;}

.small-menu h1 {
color: #E89A39;
font-family: 'Prompt';
font-weight: 800;
font-size: 48px;}

.countainer-men {
  width: 100%;
  display: flex;
  justify-content: center;}

.jackets-men {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 250px 0;}

.jackets-article {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  font-family: 'Prompt';
  font-size: 20px;
  font-weight: 300;
  justify-content: flex-end;}

.jackets {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 100%;
  margin: 0.5rem;}

.jackets img {
  width: 100%;
  height: auto;}

.jackets-info {padding: 0 1rem;}

@media screen and (max-width: 768px) {
  .small-menu a {font-size: 13px;}

  .small-menu h1 {font-size: 24px;} 

  .container-men {width: 100%;}

  .jackets-men {
    flex-direction: column;
    align-items: center;
    margin: 50px;}

  .jackets-article {margin-bottom: 20px;}}

/* ----WOMEN'S JACKETS---- */

.countainer-women {
  width: 100%;
  display: flex;
  justify-content: center;}

.jackets-women {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 250px 0;}

.women-article {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  font-family: 'Prompt';
  font-size: 20px;
  font-weight: 300;
  justify-content: flex-end;}

.jackets-wo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 100%;
  margin: 0.5rem;}

.jackets-wo img {
  width: 100%;
  height: auto;}

.women-info {padding: 0 1rem;}

@media screen and (max-width: 768px) {
  .small-menu a {font-size: 13px;}
  .small-menu h1 {font-size: 24px;} 

  .container-women {width: 100%;}

  .jackets-women {
    flex-direction: column;
    align-items: center;
    margin: 50px;}

  .women-article {margin-bottom: 20px;}}

/* ----ABOUT PAGE---- */

 .about {
  background-image: url('../../assets/images/Values-About.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}

 .welcome {
  color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Prompt';
  font-weight: 800;
  font-size: 32px;}

 .story,
 .mission,
 .holmestrand,
 .apart,
 .visit {
  color: #E89A39;
  margin-left: 7%;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  margin: auto;
  width: 70%;}

 .established,
 .rainwear,
 .nestled,
 .quality,
 .store{
  color: #FFFFFF;
  font-size: 24px;
  margin-left: 7%;
  word-spacing: 2px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  margin: auto;
  width: 70%;}

 .store{padding-bottom: 100px;}

 .comfort {
  color: #E89A39;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 100px;}

@media screen and (max-width: 768px) {
  .welcome {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;}

  .story,
 .mission,
 .holmestrand,
 .apart,
 .visit {
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-left: 5%;
  width: 90%;}

 .established,
 .rainwear,
 .nestled,
 .quality,
 .store {
  font-size: 20px;
  margin-left: 5%;
  width: 90%;}

 .comfort {
  font-size: 30px;
  padding-bottom: 50px;}}

/* ----OUR VALUES PAGE---- */

 .our-values {
  background-image: url('../../assets/images/Values-About.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1500px;}

.values {
  color: #FFFFFF;
  font-size: 80px;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-family: 'Prompt';
  font-weight: 800;
  font-size: 80px;}

.balance {
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-bottom: 200px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 1,5;
  width: 60%;
  margin: auto;}

.highlight {
  color: #E89A39;
  font-weight: 600;
  font-size: 24px;
  line-height: 1,5;}

@media screen and (max-width: 768px) {
  .our-values {height: auto;}

  .values {
    font-size: 48px;
    padding-top: 100px;
    width: 100%;}

  .balance {
    font-size: 20px;
    padding-bottom: 100px;
    width: 80%;}

  .highlight {font-size: 20px;}}